# Chromatic Project Token for Visual Regression Testing
CHROMATIC_PROJECT_TOKEN=

# GitHub Token for API requests & releases
GITHUB_TOKEN=

# Google Analytics 4 Measurement ID for Docs Website (e.g. G-XXXXXXXXXX)
NEXT_PUBLIC_GA_ID=
