# @ideasui:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# Enforce engines field in package.json
engine-strict=true

# Monorepo configuration
strict-peer-dependencies=false
enable-pre-post-scripts=true

# Hoist shared dependencies to avoid duplication
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*@react-aria/interactions*
public-hoist-pattern[]=*framer-motion*