{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
