dist/
node_modules/
.next/
.coverage/
.changeset
.next
build
pnpm-lock.yaml
!.storybook
!.commitlintrc.cjs
!.lintstagedrc.cjs
!jest.config.js
!plopfile.js
!.tsup.config.ts
templates/
apps/docs/.source
apps/docs/next-env.d.ts